
body{font-family: 'Poppins', sans-serif;  
    margin:0;
background-image: url(images/background.png);
background-repeat: no-repeat;
background-size: 100% 100%;
}


h1{font-size: 55px;}
.aqua-color{color: aqua;}
.flexible-container{
    display: flex;
}
.half-width{width:50%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.half-width img{width: 80%;}
.linkbutton{
text-decoration: none;
background-image:linear-gradient(aqua,blue);
padding: 10px 30px;
border-radius: 6px;
color:white;
}
.Paragraph-design{

    background-image: linear-gradient(aqua,white);

   border-radius : 20px;
   padding : 50px;
   text-align: justify;
}

.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    padding:5%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
border-radius: 3%;
border-left: 10px solid;
border-image: linear-gradient(aqua,white) 0 100%;

}
footer p{
    text-align: center;
}
